import * as Styled from './styles';

export type {{ ordered.[0] }}Props = {
  children: React.ReactNode;
};

export const {{ ordered.[0] }} = ({ children }: {{ ordered.[0] }}Props) => {
  return (
    <Styled.Container>
      <h1>{children}</h1>
    </Styled.Container>
  );
};
